<h3>Albums</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
  </tr>
  <% @albums.each do |work| %>
    <tr>
      <td><%= work.title %></td>
      <td><%= work.creator %></td>
      <td><%= work.pub_year %></td>
    </tr>
  <% end %>
</table>

<h3>Books</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
  </tr>
  <% @books.each do |work| %>
    <tr>
      <td><%= work.title %></td>
      <td><%= work.creator %></td>
      <td><%= work.pub_year %></td>
    </tr>
  <% end %>
</table>

<h3>Movies</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
  </tr>
  <% @movies.each do |work| %>
    <tr>
      <td><%= work.title %></td>
      <td><%= work.creator %></td>
      <td><%= work.pub_year %></td>
    </tr>
  <% end %>
</table>
