
<% highlight = @works.sample %>
<h2>Media Spotlight: <%= link_to "#{highlight.title}", work_path(highlight.id) %> by <%= highlight.creator %></h2>

<section>
  <h3> Top Movies </h3>
</section>

<% top_movies_list = Work.top_movies %>
<ul>
<% top_movies_list.each do |movie| %>
  <li><%= link_to "#{movie.title}", work_path(movie.id) %> by <%= movie.creator %></li>
<% end %>
</ul>

<section>
  <h3> Top Books </h3>
</section>

<% top_books_list = Work.top_books %>
<ul>
<% top_books_list.each do |book| %>
  <li><%= link_to "#{book.title}", work_path(book.id) %> by <%= book.creator %></li>
<% end %>
</ul>

<section>
  <h3> Top Albums </h3>
</section>

<% top_albums_list = Work.top_albums %>
<ul>
<% top_albums_list.each do |album| %>
  <li><%= link_to "#{album.title}", work_path(album.id) %> by <%= album.creator %></li>
<% end %>
</ul>