<body>

  <header>
    <% highlight = Work.highlight %>
    <h2>Media Spotlight: <%= link_to "#{highlight.title}", work_path(highlight.id) %> by <%= highlight.creator %></h2>
  </header>

  <main>
  
    <% categories = Work.categories %>
    <% categories.each do |category|%>
      <% top_list = Work.top_works(category) %>
      <% unless top_list == [] %>
        
        <section>
          <h3> Top <%= category.capitalize %>s </h3>
        </section>

        <ul>
        <% top_list.each do |work| %>
          <li><%= link_to "#{work.title}", work_path(work.id) %> by <%= work.creator %></li>
        <% end %>
        </ul>
        
      <% end %>
    <% end %>

  </main>

</body>